// .el-row{
//     &::after,
//     &::before{
//         display: block;
//         content:"";
//         clear: both;
//     }
//     &--flex{
//       display: flex;
//       &::after,
//       &::before{
//         display: none;
//       }
//       &.is-justify-end{
//         justify-content: flex-end;
//       }
//       &.is-justify-center{
//         justify-content: center;
//       }
//       &.is-justify-space-between{
//         justify-content: space-between;
//       }
//       &.is-justify-space-around{
//         justify-content: space-around;
//       }
//       &.is-align-middle{
//         align-items: center;
//       }
//       &.is-align-bottom{
//         align-items: flex-end;
//       }
//     }
// }
@import "../mixins/mixins.scss";
@import "../mixins/utils.scss";

@include b(row){
  @include utils-clearfix;

  @include m(flex){
      display:flex;
      &::after,
      &::before{
        display: none;
      }

      @include when(justify-end){
        justify-content: flex-end;
      }
      @include when(justify-center){
        justify-content:center;
      }
      @include when(justiry-space-between){
        justify-content: space-between;
      }
      @include when(align-middle){
        align-items: center;
      }
      @include when(align-bottom){
        align-items:flex-end;
      }
  }
}
