@import '../mixins/mixins.scss';
@import "../common/var.scss";

@include b(textarea){
    width:$--textarea-width;
    @include m(inner){
        padding:5px 15px;
        box-sizing:border-box;
        width:100%;
        border-radius: $--border-radius-base;
        background-color: #fff;
        color:$--color-text-regular;
        line-height:1.5;
        resize: $--textarea-direction;
        background-image: none;
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        &:focus{
            outline:none;
            border-color:$--color-primary;
        }
    }
}